vendor/autoload.php
vendor/coffeecode/datalayer/composer.json
vendor/coffeecode/datalayer/CONTRIBUTING.md
vendor/coffeecode/datalayer/LICENSE
vendor/coffeecode/datalayer/README.md
vendor/coffeecode/datalayer/example/db_config.php
vendor/coffeecode/datalayer/example/destroy_example.php
vendor/coffeecode/datalayer/example/find_example.php
vendor/coffeecode/datalayer/example/pdo_example.php
vendor/coffeecode/datalayer/example/save_example.php
vendor/coffeecode/datalayer/example/Models/Address.php
vendor/coffeecode/datalayer/example/Models/User.php
vendor/coffeecode/datalayer/src/Connect.php
vendor/coffeecode/datalayer/src/CrudTrait.php
vendor/coffeecode/datalayer/src/DataLayer.php
vendor/coffeecode/router/composer.json
vendor/coffeecode/router/CONTRIBUTING.md
vendor/coffeecode/router/LICENSE
vendor/coffeecode/router/README.md
vendor/coffeecode/router/exemple/controller/.htaccess
vendor/coffeecode/router/exemple/controller/index.php
vendor/coffeecode/router/exemple/controller/Test/Coffee.php
vendor/coffeecode/router/exemple/controller/Test/Name.php
vendor/coffeecode/router/exemple/spoofing/.htaccess
vendor/coffeecode/router/exemple/spoofing/index.php
vendor/coffeecode/router/src/Dispatch.php
vendor/coffeecode/router/src/Router.php
vendor/coffeecode/router/src/RouterTrait.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/LICENSE
vendor/league/plates/composer.json
vendor/league/plates/CONTRIBUTING.md
vendor/league/plates/docs-config.json
vendor/league/plates/LICENSE
vendor/league/plates/Makefile
vendor/league/plates/peridot.php
vendor/league/plates/README.md
vendor/league/plates/doc/apple-touch-icon-precomposed.png
vendor/league/plates/doc/changelog.md
vendor/league/plates/doc/CNAME
vendor/league/plates/doc/favicon.ico
vendor/league/plates/doc/Gemfile
vendor/league/plates/doc/Gemfile.lock
vendor/league/plates/doc/index.md
vendor/league/plates/doc/installation.md
vendor/league/plates/doc/logo.png
vendor/league/plates/doc/simple-example.md
vendor/league/plates/doc/upgrading-from-v3.md
vendor/league/plates/doc/_data/images.yml
vendor/league/plates/doc/_data/menu.yml
vendor/league/plates/doc/_data/project.yml
vendor/league/plates/doc/_layouts/default.html
vendor/league/plates/doc/css/custom.scss
vendor/league/plates/doc/engine/extensions.md
vendor/league/plates/doc/engine/framework-integration.md
vendor/league/plates/doc/engine/index.md
vendor/league/plates/example/example.php
vendor/league/plates/example/templates/layout.phtml
vendor/league/plates/example/templates/profile.phtml
vendor/league/plates/example/templates/sidebar.phtml
vendor/league/plates/scripts/build-docs.php
vendor/league/plates/src/Engine.php
vendor/league/plates/src/Extension.php
vendor/league/plates/src/PlatesExtension.php
vendor/league/plates/src/RenderTemplate.php
vendor/league/plates/src/Template.php
vendor/league/plates/src/TemplateReference.php
vendor/league/plates/src/Exception/FuncException.php
vendor/league/plates/src/Exception/HydrateTemplateException.php
vendor/league/plates/src/Exception/PlatesException.php
vendor/league/plates/src/Exception/RenderTemplateException.php
vendor/league/plates/src/Exception/StackException.php
vendor/league/plates/src/Extension/ExtensionInterface.php
vendor/league/plates/src/Extension/Data/data.php
vendor/league/plates/src/Extension/Data/DataExtension.php
vendor/league/plates/src/Extension/Folders/folders.php
vendor/league/plates/src/Extension/Folders/FoldersExtension.php
vendor/league/plates/src/Extension/LayoutSections/DefaultLayoutRenderTemplate.php
vendor/league/plates/src/Extension/LayoutSections/layout-sections.php
vendor/league/plates/src/Extension/LayoutSections/LayoutRenderTemplate.php
vendor/league/plates/src/Extension/LayoutSections/LayoutSectionsExtension.php
vendor/league/plates/src/Extension/LayoutSections/Sections.php
vendor/league/plates/src/Extension/Path/path.php
vendor/league/plates/src/Extension/Path/PathExtension.php
vendor/league/plates/src/Extension/Path/ResolvePathArgs.php
vendor/league/plates/src/Extension/RenderContext/func.php
vendor/league/plates/src/Extension/RenderContext/FuncArgs.php
vendor/league/plates/src/Extension/RenderContext/render-context.php
vendor/league/plates/src/Extension/RenderContext/RenderContext.php
vendor/league/plates/src/Extension/RenderContext/RenderContextExtension.php
vendor/league/plates/src/RenderTemplate/ComposeRenderTemplate.php
vendor/league/plates/src/RenderTemplate/FileSystemRenderTemplate.php
vendor/league/plates/src/RenderTemplate/MapContentRenderTemplate.php
vendor/league/plates/src/RenderTemplate/MockRenderTemplate.php
vendor/league/plates/src/RenderTemplate/PhpRenderTemplate.php
vendor/league/plates/src/RenderTemplate/RenderTemplateDecorator.php
vendor/league/plates/src/RenderTemplate/StaticFileRenderTemplate.php
vendor/league/plates/src/RenderTemplate/ValidatePathRenderTemplate.php
vendor/league/plates/src/Template/match.php
vendor/league/plates/src/Util/Container.php
vendor/league/plates/src/Util/util.php
vendor/league/plates/test/integration/layout-sections.spec.php
vendor/league/plates/test/integration/path.spec.php
vendor/league/plates/test/integration/plates.spec.php
vendor/league/plates/test/integration/fixtures/default-layout/_layout.phtml
vendor/league/plates/test/integration/fixtures/default-layout/_override.phtml
vendor/league/plates/test/integration/fixtures/default-layout/main.phtml
vendor/league/plates/test/integration/fixtures/default-layout/partial.phtml
vendor/league/plates/test/integration/fixtures/normalize-name/main.phtml
vendor/league/plates/test/integration/fixtures/standard/alerts.phtml
vendor/league/plates/test/integration/fixtures/standard/main.phtml
vendor/league/plates/test/integration/fixtures/standard/sidebar.phtml
vendor/league/plates/test/integration/fixtures/standard/layouts/layout.phtml
vendor/league/plates/test/integration/fixtures/standard/partials/components/header.phtml
vendor/league/plates/test/unit/container.spec.php
vendor/league/plates/test/unit/extension-layout-sections.spec.php
vendor/league/plates/test/unit/extension-path.spec.php
vendor/league/plates/test/unit/extension-render-context.spec.php
vendor/league/plates/test/unit/render-template.spec.php
vendor/league/plates/test/unit/template.spec.php
vendor/league/plates/test/unit/util.spec.php
vendor/league/plates/test/unit/fixtures/simple/main.phtml
vendor/phpmailer/phpmailer/COMMITMENT
vendor/phpmailer/phpmailer/composer.json
vendor/phpmailer/phpmailer/get_oauth_token.php
vendor/phpmailer/phpmailer/LICENSE
vendor/phpmailer/phpmailer/README.md
vendor/phpmailer/phpmailer/SECURITY.md
vendor/phpmailer/phpmailer/VERSION
vendor/phpmailer/phpmailer/language/phpmailer.lang-am.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ar.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-az.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ba.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-be.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-bg.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ca.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ch.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-cs.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-da.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-de.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-el.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-eo.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-es.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-et.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fa.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fi.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fo.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-gl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-he.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hi.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hu.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-id.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-it.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ja.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ka.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ko.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-lt.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-lv.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-mg.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ms.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-nb.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-nl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-pl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-pt_br.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-pt.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ro.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ru.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sk.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sv.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-tl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-tr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-uk.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-vi.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-zh_cn.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-zh.php
vendor/phpmailer/phpmailer/src/Exception.php
vendor/phpmailer/phpmailer/src/OAuth.php
vendor/phpmailer/phpmailer/src/PHPMailer.php
vendor/phpmailer/phpmailer/src/POP3.php
vendor/phpmailer/phpmailer/src/SMTP.php
